<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h2 class="card-title">{{title}}</br></h2>
    <p>Posted on {{format_date created_at}}</p>
    <p class="card-text">{{body}}</br>
    {{user.dataValues.username}}
    </p>
  </div>
    


