<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">{{title}}</h5>
    <p>{{format_date created_at}}</p>
    <p class="card-text">{{body}}</br>
    {{user.dataValues.username}}
    </p>
  </div>
      <div class="form-group">
    <label for="exampleFormControlTextarea1">Add a Comment Below</label>
    <textarea class="form-control" id="addCommentInput" rows="3"></textarea>
  </div>
<button type="button" id="addCommentBtn" class="btn btn-primary">Add</button>
</div>

<script src="/javascript/comment.js"></script>
